/* Typography */
.h1 {
  @apply text-4xl font-bold leading-tight tracking-tight;
}

@screen md {
  .h1 {
    @apply text-5xl;
  }
}

/* Can add more to this - currently made to serve signin/signup/reset-password pages */
.form-input,
.form-checkbox {
  @apply focus:border-primary-400/20 focus:ring-primary-400/20 !important;
}

/* Changed the checkbox color to theme green */
.form-checkbox {
  @apply text-gray-700 !important;
  @apply bg-gray-500/10;
}
